[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LinuxBuh language Update Trinity Desktop Environment
Comment=LinuxBuh language Update Trinity Desktop Environment
Exec=pkexec xterm -maximized lb-tde-update-lang
Icon=tde-logo.png
Type=Application
Categories=System;

